// Modified version of this: https://dev.to/webdeasy/top-20-css-buttons-animations-f41


.btn-shiny {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  padding-top: .8em !important;
}

.btn-shiny:before {
  content: '';
  background: linear-gradient(45deg, #95BDFF, #97DEFF, #C9EEFF, #1C82AD, #95BDFF);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn-primary.btn-shiny:before {
  background: linear-gradient(45deg, #DDFFBB, #C7E9B0, #B3C99C, #DDFFBB);
}

.btn-shiny:active {
  color: #000
}

.btn-shiny:active:after {
  background: transparent;
}

.btn-shiny:hover:before {
  opacity: 1;
}

.btn-shiny:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}