@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

// Theme Colors, Originally based on https://colorhunt.co/palette/13005a00337c1c82ad03c988
$body-bg: $gray-800;
$body-color: $gray-100;

$primary: #DDFFBB;
$secondary: #B9E9FC;
$secondary-dark: #62CDFF;
$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $secondary-dark,
        "charcoal":   $gray-900,
);